/* Contenedor de la galería */
.servgallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  padding: 20px;
  width: 80vw;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.cont-image {
  position: relative;
  overflow: hidden;
  border-radius: 6px;
}

.cont-image img {
  width: 100%;
  height: 400px;
  object-fit: cover;  
  transition: transform 0.3s ease;
}

.cont-image:hover img {
  transform: scale(1.1);
}

.cont-image:nth-child(1){
  grid-column: span 2;
}


.cont-image:nth-child(8){
  grid-column: span 2;
}

.cont-image:nth-child(11){
  grid-column: span 2;
}
.cont-image:nth-child(12){
  grid-column: span 2;
}


@media (max-width: 768px) {
  .servgallery {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .cont-image img {
    width: 100%;
    height: auto;
  }
}
