.carousel-indicators {
  bottom: 10px;
}

.carousel {
  max-width: 2200px;
  margin: 0 auto;
  width: 100%;
}

.carousel-inner {
  padding-top: 48px;
  max-height: 800px !important;  /* Limita la altura para la vista en móvil */
}

.carousel-item {
  transition: transform 2s ease-in-out, opacity 2s ease-in-out;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: none;
}

.carousel-caption {
  z-index: 2;
  color: var(--color-blanco);
}


.carousel-indicators button {
  width: 10px !important;
  height: 10px !important;
  background-color: #333 !important;
  border-radius: 50% !important;
  border: none !important;
  margin: 0 4px !important;
  cursor: pointer !important;
  transition: background-color 0.3s !important;
}

.carousel-indicators button:hover {
  background-color: #555 !important;
}

.carousel-indicators .active {
  background-color: var(--white) !important;
}

@media (min-width: 1024px) {
  .carousel-inner {
    padding-top: 65px; /* Ajusta según sea necesario */
    max-height: 700px; /* Limita la altura para la vista en PC */
    overflow: hidden; /* Asegura que no haya contenido que sobrepase el contenedor */
  }

  .carousel-item img {
    width: 100%; /* Ocupa el ancho completo del contenedor */
    height: 700px; /* Define la altura específica en pantallas grandes */
    object-fit: cover; /* Cubre el área sin distorsionar la imagen */
  }
}

