.carousel-indicators {
  bottom: 10px;
}

.carousel-inner {
  padding-top: 48px;
  max-height: 220px;
}

.carousel-item {
  transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
}

.carousel-item img {

  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: none;
}

.carousel-caption {
  z-index: 2;
  color: var(--color-blanco);
}


.carousel-indicators button {
  width: 10px !important;
  height: 10px !important;
  background-color: #333 !important;
  border-radius: 50% !important;
  border: none !important;
  margin: 0 4px !important;
  cursor: pointer !important;
  transition: background-color 0.3s !important;
}

.carousel-indicators button:hover {
  background-color: #555 !important;
}

.carousel-indicators .active {
  background-color: var(--white) !important;
}


@media (min-width: 1020px) {
  .carousel-inner {
    padding-top: 65px;
    max-height: 800px;
    position: relative;
    overflow: hidden;
  }

  .carousel-item img {
    width: 100%;
    height: 680px;
    object-fit: cover;
    filter: none;
  }
}