body {
   font-family: system-ui;
   margin: 0;
   padding: 0;
 }
 
 .servicios {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   overflow-x: hidden;
 }
 
 .gallery {
   display: flex;
   justify-content: center;
   align-items: flex-start;
   max-width: 80vw;
   padding: 50px;
   gap: 20px; 
   flex-wrap: wrap; 
 }
 
 .gallery {
   display: grid;
   grid-template-columns: repeat(2, 1fr); 
   gap: 20px; 
 }
 
 .servicio-card { 
   flex: 1 1 calc(25% - 20px); 
   box-sizing: border-box; 
 }
 .servcard1{
  margin-left: -480px;
 }
 .servcard2{
  position: relative;
  margin-left: -180px;
 }
 .servcard3{
  width: -30px;
  height: auto;
  margin-right: -900px ;
  margin-top: -426px;
 }
 .servcard4{
  margin-left: -650px;

 }
 .servcard5{
  margin-right: -630px;
  margin-top: -426px;

 }
 
 @media screen and (max-width: 1200px) {
   .gallery {
     grid-template-columns: 1fr; 
     max-width: 100vw; 
     padding: 10px;
     gap: 10px;
   }
 
   .servicio-card {
     width: 100%; 
     text-align: center;
   }
 
   .servicio-card img {
     width: 100%; 
   }

   .servcard1{
    margin-left: auto;
    
    
   }
   .servcard2{
    margin-left: auto;
  
   }
   .servcard3{
    margin-right: auto;
    margin-top: auto;
    
   
   }
   .servcard4{
    margin-left: auto;
    margin-top: auto;
  
   }
   .servcard5{
    margin-right:auto ;
    margin-top: auto;
   }

 }
 